html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana;
}

li {
	list-style: none;
}
/*COLORS*/
/*rgb(80, 148, 181)*/
/*#1F38DC - rgb(31,56,220)*/
/*Fonts START*/
@font-face {
	font-family: Tinos-Regular;
	src: url("fonts/Tinos-Regular.ttf";)
}

@font-face {
	font-family: Tinos-Bold;
	src: url("fonts/Tinos-Bold.ttf");
}

@font-face {
	font-family: Tinos-Italic;
	src: url("fonts/Tinos-Italic.ttf");
}

@font-face {
	font-family: Tinos-BoldItalic;
	src: url("fonts/Tinos-BoldItalic.ttf");
}

h1 {font-family: Tinos-BoldItalic;}

 h2, h3 {font-family: Tinos-Bold;}

p, a , h4, h5, h6, div , input , textarea, button, td, th { font-family: Tinos-Italic;}

/*Fonts END*/

/*-----------------Additional css for djangocms */

.container {
	width: 100%;
	height: 100%;
}

.cms-placeholder {
	display: inline-block;
}

/*Addititonal css ends*/

/*-----------------modal thank START----------------------*/


#modal-thank {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;
	background-color: rgba(0,0,0, 0.7);
}

.modal-thank-content {
	z-index: 200;
	position: absolute;
	width: 500px;
	height: 400px;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	
	background-image: url(photo/modal-thank-img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(73,155,234,0.96) 31%, rgba(32,124,229,0.88) 83%, rgba(32,124,229,0.86) 100%);
    border-radius: 20px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

#modal-thank-close {
	display: block;
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
	background-image: url(/static/img/icons/close.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}


.modal-thank-content-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

.modal-thank-content-text  {
	
	position: absolute;
	width: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);	
}

.modal-thank-content-text > p {
    width: 500px !important;
    font-size: 24px;
    line-height: 30px;
    font-style: italic;
    width: auto;
    margin: 0;
    text-shadow: 0 0 20px black;
    text-align: center;
	
}

.modal-thank-hidebr {
	display: none;
}

.modal-thank-content-text > .modal-thank-content-text-big {
	font-size: 68px;
	line-height: 50px;
}

.modal-thank-content-text > .modal-thank-content-text-small {
	font-size: 30px;
}


@media only screen and (max-width: 850px),
	only screen and (max-device-width: 850px) { 

		.modal-thank-content {
			width: 100%;
			height: 100%;
		}
		
		.modal-thank-content-text  {
			width: 100%;
		}
		
		.modal-thank-content-text > p {
			width: auto!important;
    		font-size: 24px;
    		line-height: 30px;
			padding-left: 20px;
		}


}

@media only screen and (max-width: 560px),
	only screen and (max-device-width: 560px) {
		
		.modal-thank-content-text > p {
			width: auto!important;
    		
			padding-left: 0px;
		}
		
		
		/*.modal-thank-hidebr {
			display: block;
		}*/
}


@media only screen and (max-width: 480px),
	only screen and (max-device-width: 480px) {
		
		.modal-thank-hidebr {
			display: block;
		}
}

/*-----------------modal thank END----------------------*/

/*--------------------------Header Slider Start------------------*/

#main-slider {
	width: 100%;
	height: 100%;
}

.main-slider-slide {
	width: 100%;
	height: 100%;
	display: block;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 1s ease;
	/*temporary to 1, later to 0*/
	opacity: 0;
	margin: 0 0 40px 0;
}

.header-jumbotron {
	width: 100%;
	display: block;
	background-position:  center center;
 	background-attachment: fixed;
 	background-size: cover;
	transition: all 1s ease;
}

.active-slide {
	position: relative;
	opacity: 1;
}

.main-slider-dots {
	text-align: center;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.main-slider-dot {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 50px;
	cursor: pointer;
	transition: all 1s ease;
	margin: 0 3px;
	z-index: 10000;
}

.main-slider-dot-active { background: #86bc42; }



/*--------------------------Header Slider End---------------------*/

/* - -------------------------- Header Start ---------------------*/

header {
	position: relative;
	margin: 0;
	width: 100%;
	height:  100%;	
}

#main {
	overflow: auto;
	width: 100%;
	height: 100%;
}

.header-line {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	list-style: none;
	width: 100%;
	vertical-align: top;
	text-align: center;
}

.header-line-menu {
	margin: 0;
	padding: 0;
}

.header-line-menu > li {
	font-size: 0;
    height: 100%;
    display: inline-block;
    width: auto;
    margin: 0;
    box-sizing: padding-box;
    padding: 25px 10px 0 10px;
}

.header-line-menu > li > a {
	margin: 0;
    padding: 0 10px;
    height: 30px;
    width: 100%;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    line-height: 30px;
    font-size: 22px;
	-moz-text-shadow: 0 0 20px #000000;  
	-webkit-text-shadow: 0 0 20px #000000; 
	text-shadow: 0 0 20px #000000; 
}

.header-line-menu > li > a:hover {
	color: #000000;
}

.header-arrow {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	background: url(/static/img/icons/arrow-down.png);
	background-size: cover;
	width: 60px;
	height: 60px;
	display: inline-block;
	transition: all .3s ease;
	animation: anim 1.5s linear infinite;
	margin: 0 0 0 -30px;
}

@keyframes anim {
	0% { 
		transform: translate(0, 0);
	 }
	50% { 
		transform: translate(0, 5px);
	}
	100% { 
		transform: translate(0, 0);
	}
}

.background {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

active. {
	position: relative;
}

.information-in-center {
  position: absolute;
  text-align: center;
  color: white;
  display: block;
  width: 100%;
  top: 30%;
}

.info {
  margin: 60px 0 0 0;
  list-style: none; 
  display: block;
	padding: 0;
}

.information-in-center > h1 {
  font-size: 60px;
  line-height: 60px;
  -moz-text-shadow: 0 0 20px black;  
  -webkit-text-shadow: 0 0 20px black; 
  text-shadow: 0 0 20px black; 
}

.info > li {
  margin: 10px 20px 0 10px;
  color: #fff !important;
  font-weight: 500;
  font-size: 18px;
	line-height: 24px;
  display: inline-block;
	text-shadow: 0 0 20px black;
}

.info > li > p { 
	margin: 0 0 0 6px;
	display: inline-block;
}

.info > li::before {
  content: "";
  display: inline-block;
  background-size: contain;
  margin: 0 10px -5px 0;
}

/*.adress::before { 
  background: url("img/point-on-map.png") no-repeat center center;
  width: 16px;
  height: 23px;       
}

.phone::before { 
  background: url("img/small-phone-icon.png") no-repeat center center;  
  width: 20px;
  height: 24px;   
}

.time::before {    
  background: url("img/small_time_icon@2x.png") no-repeat center center;   
  width: 20px;
  height: 20px;
	
}*/

#header-line-button {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    text-align: right;
    width: 32px;
    height: 32px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-image: url(img/icons/list.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}



#mob-line {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(80, 148, 181, .5);
    display: none;
}

#mob-line img {
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
}

#mob-line i {
    position: absolute;
    top: -40px;
    right: 20px;
    display: block;
}

img#close-menu {
    width: 40px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 5px;
    left: auto;
    cursor: pointer;
}

@media only screen and (max-width: 780px),
only screen and (max-device-width: 780px) {
	
	#mob-line { display: block; }
	
	.header-line-menu {
    	margin-right: 20px;
    	height: auto;
    	display: none;
		width: 100%;
		position: absolute;
		z-index: 2;
	}
	
	.header-line {
		height: 30px;
	}
	
	#header-line-button {
		display: block;
	}
	
	.header-line-menu > li {
    	height: auto;
    	display: block;
    	width: 80%;
    	margin: 0;
    	padding: 0 10% 0 10%;
    	background-color: rgb(80, 148, 181);
	}
	
	.header-line-menu > li > a {
		width: 100%;
		text-align: left;
    	padding: 0;
    	position: relative;
    	right: 0;
    	background: rgb(80, 148, 181);
    	z-index: 1;
    	line-height: 300%;
    	height: auto;
    	text-shadow: none;
    	border-bottom: 1px solid white;
	}
	
	.header-line-menu > li > a:hover {
		border-bottom: 1px solid black;
	} 
	
	.header-line-menu > li:last-child > a {
    	border: none;
	}
	
	.information-in-center {
  		margin: 15px 0 0 0;
	}
	
	.language-chooser {
  		bottom: 15px;	
		right: 50%;
		-webkit-transform: translateX(50%);
		transform: translateX(50%);	
	}
	}

/* - -------------------------- Header End ---------------------*/



/*------------------------------About US Start------------------------------*/

.about-us {
	width: 100%;
	background: white;
	overflow-y: hidden;
    padding: 0 0 15px 0;
}

.about-us-main {
	width: 100%;
	background: white;
	line-height: 0;
	font-size: 0;
}

.about-us-work-graphic {
	background: url(img/light-blue-background.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	width: calc(48% - 44px);
	min-height: 366px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	padding: 0 0 0 0px;
	border-right: 2px double #b8bad1;
}

.about-us-work-graphic > h2 {
	text-align: center;
	font-size: 6vh;
	line-height: 8vh;
	margin: 20px 0 20px 0;
}

.graphic-column {
	vertical-align: top;
	text-align: left;
	margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #b8bad1;
	display: inline-block;
	height: 120px;
}

.graphic-column:last-child {
	border: none;
	margin: 0;
	padding: 0;
}

.graphic-column > li {
	margin: 10px 0 0 0;
	font-size: 24px;
	line-height: 30px;
}

.about-us-main-text {
	height: 100%;
	width: calc(52% - 8px);
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	padding:0 35px 12px 15px;
	overflow-y: scroll;
}

.about-us-main-text > h2 > p,
.about-us-main-text > h2
{
	line-height: 34px;
	font-size: 28px;
	padding: 0;
	margin: 20px 0 10px 0;
}

.about-us-main-text > div {
	padding: 0 0 0 40px;
	margin: 0;
	font-size: 19px;
	line-height: 17px;
	overflow-y: hidden;
}

.about-us-main-text-ul {
	padding: 0;
	margin: 15px 0;
}

.about-us-main-text-ul > li {
	padding: 5px 0;
	list-style: disc;
}

.about-us-main-text-ul > li:first-child {
	padding: 12px 0 5px 0;
}

.about-us-main-text > p > br {
	line-height: 8px;
}

.about-us-photo {
	height: 60%;
	overflow-y: hidden;
}

.about-us-photo > img:first-child {
	float: left;
	width: 50%;
	height: auto;
}

.about-us-photo > img {
	float: left;
	width: 25%;
	height: auto;
}

@media only screen and (max-width: 1160px),
	only screen and (max-device-width: 1160px) {
		
		.about-us {
			height: auto;
		}
	
		.about-us-main {
			height: auto;
		}
		
		.about-us-work-graphic > h2 {
			padding: 10px 0 0 0;
			margin: 0 0 20px 0;
		}
		
		.about-us-work-graphic {
			text-align: center;
			float: none;
			display: block;
			width: 100%;
			height: 220px;
		}
		
		.about-us-main-text {
			margin: 30px 0 0 0;
			padding: 0 17px 0 20px;
			height: auto;
			float: none;
			width: 100%;
			display: block;
			overflow-y: hidden;
			box-sizing: border-box;
		}
		
		.graphic-column {
			margin: 0 5% 0 0;
    		padding: 0 5% 0 0;
		}
		
		.graphic-colomn:nth-child(1) {
			border-right: 1px solid #b8bad1 !important;
		}
		
		.graphic-colomn:nth-child(2) {
			margin: 0 30px 0 0 ;
			border: none;
		}
		
		.about-us-main-text-ul {
			text-align: center;
		}
		
}


@media only screen and (max-width: 1024px),
	only screen and (max-device-width: 1024px) { 
		
		.about-us {
			height: auto;
		}
		
		.about-us-photo {
			text-align: center;
			padding: 0 12%;
		}
		
		.about-us-photo > img {
			float: none;
			height: auto!important;
			width: 44%;
			height: auto;
		}
		
		.about-us-photo > img:first-child {
			float: none;
			height: auto!important;
			width: 94%;
			height: auto;
		}
		
		.about-us-photo > img:nth-child(2) {
			margin-right: 6%;
			margin-top: 6%;
		}
		
		.about-us-photo > img:nth-child(3) {
			
			margin-top: 6%;
		}
		
		.about-us-main {
			margin-bottom: 18px;
		}
		
		.about-us-main-text > p {
			line-height: 18px;
			font-size: 16px;
		}
		
		.about-us-main-logo {
			background-position: top center;
			height: 250px;
		}
}

@media only screen and (max-width: 767px),
	only screen and (max-device-width: 767px) { 
		
		.about-us-main {
			overflow-x: hidden;
			height: auto;
		}
		
		.about-us-work-graphic {
			float: none;
			display: block;
			width: 100%;
			height: 220px;
		}
		
		.about-us-main-text > h1 {
			margin: 0 25px;
			line-height: 22px;
			font-size: 22px;
		}
		
		.about-us-main-text > p {
			margin-left: 15px;
			height: auto;
		}
		
		.about-us-photo {
			text-align: center;
			padding: 0 8%;
			height: 100%;
			overflow-y: hidden;
		}
		
		.about-us-photo > img:first-child {
			width: 100%;	
		}
		
		.about-us-photo > img {
			text-align: center;
			float: none;
			width: 100%;
			height: auto;
			margin: 12px auto 0 auto!important;
		}
		
}

@media only screen and (max-width: 600px),
only screen and (max-device-width: 600px) {
		
		.about-us-main {
			height: auto;
			overflow-x: hidden;
		}
	
		.about-us-main-text > p {
			overflow-x: hidden;
			height: auto;
			line-height: 16px;
			margin: 25px;
		}
		.graphic-column {
			margin: 0 10px 0 0;
    		padding: 0 10px 0 0;
		}
	
		.about-us-main-text-ul {
			text-align: left;
		}
}

@media only screen and (max-width: 500px),
	only screen and (max-device-width: 500px) { 
		
		.about-us-work-graphic {
			height: auto;
		}
		
		.graphic-column {
			margin: 20px 0;
			padding: 0;
			text-align: center;
			border: none;
			display: block;
			height: auto;
		}
		
		.graphic-column:last-child {
			margin: 0;
			padding: 0 0 20px 0;
		}
		
		.about-us-main-text > div {
			padding: 0 0 0 12px;
		}

}



/*-----------------------------------About US END--------------------------------------*/

/*----------------------------------Submit-Your-Application-START-------------------------*/

.submit-your-application {
	width: 100%;
	height: 300px;
	background-color: rgb(80, 148, 181);
	font-family: sans-serif;
}

.submit-your-application-form {
	text-align: center;
	font-size: 0;
	height: 100%;
	padding-top: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}


.submit-your-application-form-column > p {
	width: 100%;
	text-align: left;
	margin:0;
	color: white;
	padding-left: 10px;
	margin-bottom: 20px;
	line-height: 20px;
	font-size: 20px;
}

.submit-your-application-form-column.right > p {
	padding-left: 0;
}

.submit-your-application-addtitional-inf {
	line-height: 12px;
	font-size: 12px;
	color: white;
	text-align: left;
	margin: 40px 0 0 0;
}

.submit-your-application-form-column {
	display: inline-block;
	height: auto;
	width: 49%;
	vertical-align: top;
}


.submit-your-application-form-column:first-child {
	margin-right: 2%;
}


.submit-your-application-form-column:last-child {
	margin-right: 0;
}

.submit-your-application-form-column  > input {
	margin-bottom: 10px;
	border: none;
	height: 20px;
	padding: 4px 10px;
	outline: none;
}


.not-active {
	color: rgb(211,211,211);
}

.submit-your-application-form-column.left > input {
	vertical-align: top;
	width: 90%;
}



#phone {
	width: 90%;
	
	
}

.submit-your-application-form-column.right {
	width: 49%;
    padding: 38px 0 0 0;
	height: auto;
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
	text-align: left;
}

.submit-your-application-form-column.right > p {
	color: white;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 20px 0;
}

#date {
	position: relative;
	text-align: left;
	margin: 0 2% 10px 0;
	background-color: white;
	line-height: 18px;
	font-size: 18px;
	padding: 5px 8px;
	width: 47%;
	display: inline-block;
	border: none;
}

.small-black-arrow {
	background: #fff url("img/icons/small-arrow-down.gif") center center no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	content: " ";
	position: absolute;
	top: 10px;
	right: 4px;
}

#time {
	margin: 0;
	display: inline-block;
	width: 46.9%;
	border: none;
	border: none;
	line-height: 20px;
	font-size: 20px;
	padding: 4px 8px;
	border-radius: none;
	background-color: white;
	-webkit-appearance: none;
 	border-radius: 0;
 	font-family: inherit;
}

#comment {
	width: 95%;
	display:inline-block;
	max-height: 58px;
	padding: 4px 10px;
	margin-right: 10px;
	overflow: auto;
	border: none;
	resize: none;
	outline: none;
	font-size: 14px;
}

.submit-your-application-form-column.right > .button-blue {
	text-align: center;
	vertical-align: bottom;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	border: 1px solid white;
	outline: none;
	background-color: #000000;
    color: #ffffff;
	padding: 8px 30px;
	margin: 15px 0 0 0;
    cursor: pointer;
	/*transition: all 0.5 ease;
	-webkit-transition: all 0.5 ease;*/
	transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.submit-your-application-form-column  > input.correct {
    border: 3px solid rgb(72,245,10);
}

.submit-your-application-form-column  > input.wrong {
    border: 3px solid rgb(239,17,17);
}

#comment.wrong {
    border: 3px solid rgb(239,17,17);
}

#comment.correct {
    border: 3px solid rgb(72,245,10);
}


.submit-your-application-form-column.right > .button-blue:hover { 
	background-color: white;
	color: black;

}

.submit-your-application-form-column.right > .button-blue:active { 
	transform: scale(0.9, 0.9);
}


@media only screen and (max-width: 810px),
	only screen and (max-device-width: 810px) { 
		
	.submit-your-application {
		height: auto;
        padding: 40px 0 30px 0;
	}

	.submit-your-application-form {
        padding: 0;
		width: 400px;
		height: auto;
	}
		
	.submit-your-application-form-column {
		width: 100%;
		height: auto;
	}
	
	.submit-your-application-form-column.left {
		text-align: left;
	}
		
		
	.submit-your-application-form-column.right {
		margin: 15px 0 0 0;
		width: 100%;
		text-align: left;
        padding-top: 0px;
	}
		
	#comment {
		width: 90%;
		display:inline-block;
		max-height: 58px;
		padding: 4px 10px;
		
		margin-top: 0px;
	}
		
	#date {
		
		width: 44.5%;	
	}
		
	#time {
		width: 44.5%;
		margin-top: 0;
	}
	
	.submit-your-application-form-column.right > .button-blue {
		padding: 10px;	
		margin-left: auto;
	}

}

@media only screen and (max-width: 410px),
	only screen and (max-device-width: 410px) {
		
		.carousel-img,
		.carousel-text { width: 100%; }
		
		.carousel-img {
			text-align: center;
			margin: 20px 0 0 0;
		}
		
		.carousel-text {
			margin: 20px 0 0 0;
			padding: 10px;
		}
		
		
		.submit-your-application-form {
			width: 310px;
			text-align: center;
		}
		
		.submit-your-application-form-column.right {
			width: 100%;
			/*text-align: center;*/
			padding-left: 0px;
		}
		
		.submit-your-application-form-column.right > .button-blue {
			margin-top: 25px;
		}
		
		#comment { 
			
		}
		
		#date {
			width: 50%;
		}

		#time {
			width: 45%;
		}
		
}


/*---------------------Calendar Start---------------------*/

.header-calendar {
	z-index: 123;
	
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	height: 250px;
	background-color: white;
	font-size: 16px;
	line-height: 20px;
	border: 3px solid white;
	border-radius: 3px;
	box-shadow: 0 0 12px rgba(0,0,0,0.8);
	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.header-calendar-left {
    left: 2px;
	top: 2px;
    padding: 0;
    margin: 0;
    border: 10px solid transparent;
    position: absolute;
    font-size: 0;
    line-height: 0;
	display: none;
	width: 0; 
	height: 0; 
	border-right:10px solid black; 
}

.header-calendar-left:hover {
	border-right-color: rgb(80, 148, 181);
}

.header-calendar-right {
	margin-right: -10px;
    right: 2px;
	top: 2px;
    padding: 0;
    margin: 0;
    border: 10px solid transparent;
    position: absolute;
    font-size: 0;
    line-height: 0;
	display: block;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid black; 
}

.header-calendar-right:hover {
	border-left-color: rgb(80, 148, 181);
}

.header-calendar-current-month{
    text-align: center;
    width: 100%;
	font-weight: bold;
	padding: 5px 0;
}

thead {
	display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
	border-collapse: collapse;
}

table {
	width: 100%;
	margin-top: 3px;
	padding: 5px;
    border-collapse: collapse;
}

thead > tr > th {
	width: 30px;
    padding: 5px 0;
    vertical-align: top;
	text-align: center;
	display: table-cell;
}

tbody > tr > td {
	width: 30px !important;
	margin: 0;
	text-align: center;
    padding: 5px 0;
	border: 1px solid #fff;
	display: table-cell;
    vertical-align: inherit;
	cursor: pointer;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


td.disabled {
	color: #999;
    cursor: default;
    background: none;
}

td.not-in-month {
	color: #CDCDCD;
    cursor: default;
    background: none;
}

td.current {
	background: #5A4B4B;
    color: #fff !important;
}



td.availeble {
	color: rgb(80, 148, 181);
    font-weight: bold;
	background: #f2f0ea;
}

td.selected {
	
	background: rgb(80, 148, 181) !important;
    color: #fff !important;
    cursor: default;
}

td.availeble:hover {
	color: #333;
}

@media only screen and (max-width: 410px),
	only screen and (max-device-width: 410px) {

	.header-calendar {
			width: 300px;
	}
}


@media only screen and (max-width: 410px),
	only screen and (max-device-width: 410px) {
		
	.header-calendar-right {
		margin-right: -10px;
    	right: 2px;
		top: 4px;
	}
		
	.header-calendar-left {
    	left: 2px;
		top: 4px;
	}
		
		
}


/*--------------------------------Calendar END------------------------------*/

/*----------------------------------Submit-Your-Application-END---------------------------*/





/*---------------------------------Google map START---------------------------------------*/

.map {
	width: 100%;
	height: 100%;
}

.map-conteiner {	
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0;
}

#map-canvas {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.map-comment {
	position: absolute;
	color: white;
	z-index: 5;
	top: 10%;
	left: 0;
	background-color: rgba(0,0,0, 0.7);
	height: auto;
	width: auto;
	padding: 30px 100px 0px 40px;
}

.map-comment > h6 {
	font-weight: normal;
	line-height: 28px;
	font-size: 24px;
	margin: 0;
	font-family: Cormorant-Bold;
}

.map-comment-textblock {
	margin: 25px 0;
}

.map-comment-textblock > p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 18px;
}

.google-photo {
	width: 120px;
	height: 120px;
}

@media only screen and (max-width: 768px),
	only screen and (max-device-width: 768px) { 

		.map-comment {
			bottom: 0;
			top: auto;
			padding: 20px 40px 0px 30px;
		}
		

		.map-comment > h6 {
			font-weight: normal;
			line-height: 20px;
			font-size: 16px;
			margin: 0;
		}

		.map-comment-textblock {
			margin: 20px 0;
		}

		.map-comment-textblock > p {
			margin: 0;
			padding: 0;
			font-size: 14px;
			line-height: 16px;
		}

		.google-photo {
			width: 120px;
			height: 120px;
		}

}

@media only screen and (max-width: 368px),
	only screen and (max-device-width: 368px) { 
		
		.map-comment {
			bottom: 0;
			top: auto;
			padding: 20px 20px 0px 30px;
		}
		
}


/*---------------------------------Google map END---------------------------------------*/



/*---------------------------------Footer START------------------------------------------*/


footer {
	width: 100%;
	height: 150px;
	background-color: rgb(80, 148, 181);
	color: white;
	padding-top: 55px;
}

.footer-main {
	font-size: 0;
	line-height: 0;
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	vertical-align: bottom;;
	text-align: center;
}

.footer-main > ul {
	display: inline-block;
	color: white;
	font-size: 16px;
	line-height: 16px;
	margin-right: 25px;
	height: 80px;
	vertical-align: top;
	text-align: left;
	padding: 0;
}

.footer-main-logo {
	background-image: url("logos/montage_area.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: inline-block;
	height: 150px;
	width: 150px;
	margin-right: 25px;
	position: relative;
	top: -25px;
}

.footer-main > ul > li {
	padding: 4px;
}

footer > ul {
	list-style: none;
}

footer a {
	text-decoration: none;
	color: white;
}

footer > ul > li > a {
	text-decoration: none;
}


 .footer-main-contacts > li::before {
	 content: "";
	 display: inline-block;
	 background-size: contain;
	 margin: 0 10px -5px 0;
	 background-position: center;
	 width: 20px;
	 height: 20px;
}

.footer-main > .footer-main-contacts > li:nth-child(1)::before {
	background-image: url(img/icons/phone.png);
}

.footer-main > .footer-main-contacts > li:nth-child(2)::before {
	background-image: url(img/icons/e-mail.png);
}

.footer-main > .footer-main-contacts > li:nth-child(3)::before {
	background-image: url(img/icons/point.png);
}

.footer-main-social {
	margin-right: 35px;
	vertical-align: top;
	text-align: center;
	display: inline-block;
}

.footer-main-social > p {
	margin-top: 0;
	font-size: 18px;
	line-height: 18px;
}

.footer-main-social-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 12px;
	background-repeat: no-repeat;
	background-size: contain;
}

.footer-main-social-icon:last-child {
	margin-right: 0;
}


.footer-main-social-icon.fb {
	font-size: 20px;
	line-height: 20px;
	/*background-image: url("icons/facebook.png");*/
}


/*.footer-main-social-icon.inst {
	background-image: url('icons/instagram.png');
}*/


@media only screen and (max-width: 1150px),
	only screen and (max-device-width: 1150px) { 
		
		footer { 
			height: auto;
		}
		
		.footer-main {
			width: 720px;
		}
		
		.footer-main-social { 
			margin: 25px 40px 50px 40px;
		}
		
		.clock-logo {
			margin-top:60px;
		}

}

@media only screen and (max-width: 767px),
	only screen and (max-device-width: 767px) { 

		footer { 
			height: auto;
			padding-top: 15px;
		}
		
		.footer-main {
			width: 520px;
			text-align: center;
		}
		
		.footer-main-logo {
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 250px;
			height: 250px;
		}
		
		.footer-main > ul {
			text-align: left;
			z-index: 5;
			position: relative;
		}
		
		
		.footer-main > .footer-main-contacts {
			width: 290px;
			text-align: left;
			display: block;
			margin-top: 15px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.footer-main > .footer-main-contacts > li {
			
		}
		
		.footer-main-social {
			text-align: center;
			margin: 25px 40px 20px 40px;
		}
		
		.clock-logo {
			display: block;
			width: 200px;
			margin: 20px auto 40px auto;
		}

}

@media only screen and (max-width: 540px),
	only screen and (max-device-width: 540px) { 

		.footer-main {
			width: 320px;
			text-align: center;
		}

}

/*---------------------------------Footer END------------------------------------------*/
