{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	  	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

        <title>Optics store</title>
			<!----flickity------>
	    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css" media="screen">
        <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'flickity.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIv_DYtk4AsdOhcLXGpQE6-H6PY474Z5k"></script>

     </head>
  <body>

      <!------------------Modal-Thank-You Start----------------->

		<div id="modal-thank">

			<div class="modal-thank-content">
				<div class="modal-thank-content-wrapper">

					<div id="modal-thank-close"></div>

					<div class="modal-thank-content-text">
						<p class="modal-thank-content-text-big">
							Спасибо за заявку
						</p>
							<br>
						<p class="modal-thank-content-text-small">
							Мы свяжемся с Вами <br class="modal-thank-hidebr"> в ближаешее время
						</p>
					</div>

				</div>
			</div>
		</div>

		<!--------------------Modal-Thank-You END---------------->



			<!--------------Main Site----------------->
	<header id="#header-anchor">

		<div id="main">

			<div class="background">
				<div id="main-slider">
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/1.jpg' %});"></div>
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/2.jpg' %});"></div>
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/3.jpg' %});"></div>
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/4.jpg' %});"></div>
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/5.jpg' %});"></div>
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/6.jpg' %});"></div>
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/7.jpg' %});"></div>
					<div class="main-slider-slide" style="background-image: url({% static 'img/header-back/8.jpg' %});"></div>
				</div>
				<div class="header-line">
					<div id="header-line-button"></div>
					<ul class=header-line-menu>
						<div id="mob-line"><img id="close-menu" src={% static "img/icons/close.png" %}></div>
						<li><a href="#about-us-anchor">Графік роботи</a></li>
						<li><a href="#about-us-anchor">Про Нас</a></li>
						<li><a href="#map-anchor">Контакти</a></li>
						<li><a href="#sumbit-your-application-anchor">Замовити лінзи</a></li>

					</ul>
				</div>

				<div class="information-in-center">

					<h1>Магазин "Оптика"</h1>
					<ul class="info">

						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<p>м.Київ вул.Воскресінська 16Г</p>
						</li>
						<li>
							<i class="fa fa fa-phone" aria-hidden="true"></i>
							<p>+38 (044) 332 65 19</p>
						</li>

					</ul>
				</div>
			</div>


		</div>
		<div class="header-arrow">
		</div>
	</header>


	<!-----------------------------------Abouts US START------------------------------------>

		<div class="about-us" id="about-us-anchor">

			<div class="about-us-main">
				<div class="about-us-work-graphic">
					<h2>Графік роботи</h2>
					<ul class="graphic-column">
						<li>Понеділок-Пятниця</li>
						<li>10:00 - 20:00</li>
						<li>перерва 13:00 - 15:00</li>
					</ul>
					<ul class="graphic-column">
						<li>Суббота</li>
						<li>11:00 - 15:00</li>
					</ul>
					<ul class="graphic-column">
						<li>Неділя</li>
						<li>Вихідний</li>
					</ul>
				</div>
				<div class="about-us-main-text">
					<h1>У нашій оптиці Вам завжди будуть раді.</h1>

					<div>

						<ul class="about-us-main-text-ul">
                            <p>До ваших послуг:</p>
							<li> кваліфікований оптометрист-консультант</li>
							<li>діагностика гострори зору</li>
							<li>виготовлення окулярів будь-якої складності</li>
							<li>великий вибір оправ та аксесуарів до них</li>
							<li>контактні лінзи та засоби догляду. </li>
						</ul>
						Ми розташовані на території нового житлового масиву "Паркові озера".
						<br>
						<br>
						Наші ціни вас приємно здивують. Постійним клієнтам надаємо знижки.
						<br>
						<br>
						А також здійснюємо дрібний ремонт окулярів

					</div>

				</div>
			</div>


		</div>

	<!-----------------------------------Abouts US END----------------------------------------->




	<!---------------------------------------White-blue block with fields START------------------------------------->

	<div class="submit-your-application" id="sumbit-your-application-anchor">

		<div class="submit-your-application-form">

			<div class="submit-your-application-form-column left">

				<p>Замовити контактні лінзи</p>

				<input id="name"  type="text" placeholder="Ім'я, Фамілія">
				<input id="email"  type="email" placeholder="e-mail">
				<input id="phone" type="text" placeholder="тел">
			</div>

			<div class="submit-your-application-form-column right clearfix">


				<div id="date" class="reverse-table-and-field">

					<div id="span-date" class="reserve-table-day">
                        <span  >10/11/2016</span>
						<div class="small-black-arrow"></div>
					</div>

					<div class="header-calendar">

						<a href="" class="header-calendar-left"></a>
						<div class="header-calendar-current-month"></div>
						<a href="" class="header-calendar-right"></a>

						<table>
							<thead>
								<tr class="header-calendar-row">
									<th>Пн</th>
									<th>Вт</th>
									<th>Ср</th>
									<th>Чт</th>
									<th>Пт</th>
									<th>Сб</th>
									<th>Нд</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="disabled">1</td>
									<td class="disabled">2</td>
									<td class="disabled">3</td>
									<td class="disabled">4</td>
									<td class="disabled">5</td>
									<td class="disabled">6</td>
									<td class="disabled">7</td>
								</tr>
								<tr>
									<td class="disabled">8</td>
									<td class="disabled">9</td>
									<td class="disabled">10</td>
									<td class="current">11</td>
									<td class="availeble selected">12</td>
									<td class="availeble">13</td>
									<td class="availeble">14</td>
								</tr>
								<tr>
									<td class="availeble">15</td>
									<td class="availeble">16</td>
									<td class="availeble">17</td>
									<td class="availeble">18</td>
									<td class="availeble">19</td>
									<td class="availeble">20</td>
									<td class="availeble">21</td>
								</tr>
								<tr>
									<td class="availeble">22</td>
									<td class="availeble">23</td>
									<td class="availeble">24</td>
									<td class="availeble">25</td>
									<td class="availeble">26</td>
									<td class="availeble">27</td>
									<td class="availeble">28</td>
								</tr>
								<tr>
									<td class="availeble">29</td>
									<td class="availeble">30</td>
									<td class="not-in-month">31</td>
									<td class="not-in-month">32</td>
									<td class="not-in-month">33</td>
									<td class="not-in-month">34</td>
									<td class="not-in-month">35</td>
								</tr>
								<tr>
									<td class="not-in-month">36</td>
									<td class="not-in-month">37</td>
									<td class="not-in-month">38</td>
									<td class="not-in-month">39</td>
									<td class="not-in-month">40</td>
									<td class="not-in-month">41</td>
									<td class="not-in-month">42</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!--<select id='time' class="reserve-table-time">
						<option>от 20</option>
						<option>от 40</option>
						<option>от 60</option>
						<option>от 80</option>
						<option>от 100</option>

				</select>-->

				<textarea id='comment' cols="40" rows="5" placeholder="Інформація про замовлення"></textarea>
                <button id="send-request" class="button-blue">Отправить</button>

			</div>

			<p class="submit-your-application-addtitional-inf">*Доставка замовлення можлива не раніше за 12-ту годину наступного дня</p>
		</div>

	</div>


		<!---------------------------------------White-blue block with fields END--------------------------------------->


		<!----------------------------------------Google Map START------------------------------------------------------>

		<div class="map" id="map-anchor">

			<div class="map-conteiner">

				<div class="map-comment">

					<h6>Контакти</h6>

					<div class="map-comment-textblock">
						<p>Ми знаходимося за адресою: </p>
						<p>вул. Воскресінська , 16Г</p>
					</div>

					<div class="map-comment-textblock">
						<p>Телефони:</p>
						<p><span class="ringo-phone">+38 (044) 332 65 19</span></p>
                        <p><span class="ringo-phone">+38 098 903 37 80</span></p>
					</div>

					<div class="map-comment-textblock">
						<p>E-mail:</p>
						<p>Kiev_Optics@gmail.com</p>
					</div>

					<div class="map-comment-textblock">
						<p>Чекаємо на вас з понеділка по п'ятницю</p>
						<p>с 10:00 до 13:00 і 15:00 до 20:00</p>
					</div>

				</div>

				<div id="map-canvas"></div>

			</div>

		</div>


		<!----------------------------------------Google Map END-------------------------------------------------------->

	  	<!-------------------------------------------Footer Start------------------------------------------------------>

		<footer>

			<div class="footer-main">

				<ul class="footer-main-content">
					<li><a href="#about-us-anchor">Графік роботи</a></li>
					<li><a href="#about-us-anchor">Про нас</a></li>
					<li><a href="#map-anchor">Контакти</a></li>
					<li><a href="#sumbit-your-application-anchor">Замовити лінзи</a></li>
				</ul>

				<ul class="footer-main-contacts">
					<li><span class="ringo-phone">+38 (044) 289 00 02</span></li>
					<li>ekaterina.antonkina@yandex.ru</li>
					<li>Наша адреса: вул. Воскресінська , 16Г</li>
				</ul>

				<div class="footer-main-social">
					<p>Ми у соціальних мережах: </p>
					<a href='https://www.facebook.com/%D0%9E%D0%BF%D1%82%D0%B8%D0%BA%D0%B0-464950343698777/?fref=ts' class="footer-main-social-icon fb" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					<!--<a href='https://www.instagram.com/' class="footer-main-social-icon inst" target="_blank"></a>-->
				</div>


			</div>


		</footer>

	  <!--------------------------------------------Footer End------------------------------------------------------------>



	<script type="text/javascript" src="{% static 'script.js' %}"></script>
	<script type="text/javascript" src="{% static 'flickity.pkgd.js' %}"></script>

</body>

</html>